
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgb(255, 255, 255);
        }
        .main{
            min-height: 100%;
            
        }

        /*#cover {
            border: 1px black solid;
            width: 500px;
            height: 650px;
            margin: 0;
            padding: 0;
        }

        #cover {
            float: left;
        }*/

        header {
            margin: 0;
            padding: 0;
            background-image: url(../static/img/hack1.jpg);
            height: 95vh;
            background-size: cover;
            background-position: center;
            position: relative;
            box-shadow: 0 0 20px black;
        }
        header .row .icon{
            margin: 0;
            padding: 0;
            height: 40px;
            width: 57px;
            position: absolute;
            top: 15px;
            left: 70px;
            background-color: rgb(255, 255, 255);
            border-radius: 20%;
            box-sizing: border-box;
        }
        header .row .icon img{
            margin: 0;
            padding: 5px 7px 5px 9px;
            width: 40px;
            height: 30px;
        }

        .main-nav {
            list-style: none;
            float: right;
            display: flex;
            margin-top: 0;
            margin-right: 30px;
            height: 100%;
            padding: 0;
        }
        .main-nav li {
            display: inline-block;
            height: 100%;
            padding: 5px;
        }

        .main-nav li a {
            color: white;
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            padding: 20px 10px 17px 20px;
            font-size: 18px;
            transition: all 0.2s ease-in;
            height: 100%;
            width: 100%;
        }

        .main-nav li a:hover {
            color: #1ed11e;
            font-size: 19px;
            border-bottom: 5px #1ed11e solid ;
        }

        .row {
            width: 100%;
            height: auto;
            color: aqua;
            position: fixed;
            margin: 0;
            padding-top: 20px;
            padding-bottom: 0;
            margin-bottom: 0;
            background: rgb(18, 33, 18);
            z-index: 999;
        }

        .hero{
            margin: 0;
            padding: 0;
            position: absolute;
            width: 40%;
            /*transform: translate(-50%,-50%);*/
            top : 45%;
            right: 50px;
        }
        .hero h3, .hero h2{
            margin-top: 10%;
            color: white;
            text-align: center;
        }

        h1 {
            padding: 0;
            margin: 0;
            color: white;
            text-transform: uppercase;
            font-size: 3vw;
            text-align: center;
        }

        .btn {
            margin: 0px;
            /*padding-top: 20px;*/
            padding-right:0; 
            position: absolute;
            top: 65vh;
            right: 50px;
            /*margin-top: 30px;*/
            width: auto;
            height: auto;
        }

        .btn a {
            text-decoration: none;
            color: white;
            font-size: 2vw;
            border: 2px white solid;
            padding: 10px 40px;
            text-transform: uppercase;
            margin-right: 8vw;
        }

        .btn a:hover {
            background-color: #00b300;
            transition: all 0.2s ease-in;
        }

        img {
            display: block;
        }

        main{
            position: relative;
        }
   
        
        .btn{
            margin: 100px;
        }
        main .paragraphe{
            position: relative;
            margin-top: 5%; 
            margin-bottom: 7%;
            color: white;
            background: rgba(7, 10, 6, 0.8);
            box-sizing: border-box;
            padding: 5% 0 7% 0;
            width: 100%;
            height: auto;
            box-shadow: 0 0 10px black;
            overflow: auto; 
        }
        main .paragraphe h3{
            margin-top: 0; 
            font-size: 2.5em;
            text-align: center;
        }
        main .paragraphe p{
            width:50%;
            transform: translate(-50%,0%);
            margin-left: 50%;
            font-size: 1.2em;
            text-align: center;
        }
        
        section.form-class #form{
            min-height: 500px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 2% 0 2%;
        }
        section.form-class #form .methode fieldset{
            display: flex;
            justify-content:center;
            border: none;
            border-bottom: 5px solid green;
        }
        section.form-class #form .methode fieldset .radio-class ,
        section.form-class #form .methode fieldset .filtre{
            
            padding-top: 15px;
            font-size: 15px;
            width: 880px;
            margin-left: 0;
            /*border: 5px solid rgb(3, 51, 3);*/
            padding-bottom: 15px;
        }
        section.form-class #form .methode fieldset .radio-canal input{
            margin-left: 6px;
        }

        section.form-class #form .methode fieldset #input-case{
            margin: 0 100px 0 100px;
        }
        section.form-class #form .methode fieldset .cryptage{
            
        }
        textarea {
            resize: none;
            background-color: rgb(145, 137, 137);
            height: 300px;
            box-shadow: 0 0 10px black;
            border: none;
            font-size: 1.3em;
            font-weight: bolder;
        }
        textarea:focus{
            border: none;
            border: 3px green solid;
            /*background-color: white;*/
            /*box-shadow: 0 0 20px green;*/
            
        }
        section.form-class .form-input{
            display: inline-block;
            margin: 2%;
            width: 300px;
            height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        section.form-class .form-input .secret-message{
            overflow: scroll;
        }
        .in-out-img{
            width: 100%;
            height: 100%;
            /*background: rgb(255, 255, 255);*/
            overflow: hidden;
            /*border: 10px rgba(63, 62, 62, 0.699) solid;*/
            border-bottom: 5px green solid;
            position: relative;
        }
        .in-out-img img{
            width: 100%;
            height: 100%;
            
        }
        
        .in-out-img img.input-default{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70%;
            height: 70%;
            transform: translate(-50%,-50%);
            opacity: 40%;
        }

        #form .button{
            font-size: 20px;
            margin: 20px;
        }
        section.form-class .evaluation{
            padding: 20px 0 20px 0s;
            height: 200px;
            width: 400px;
            transform: translate(-50%,-50%);
            margin-top: 200px;
            margin-left: 50%;
            background-color: rgb(255, 255, 255);
            color: black;
            /*border: 5px rgb(42, 175, 38) solid;*/
            box-shadow: 0 0 15px /*rgb(42, 175, 38)*/ black;
        }
        section.form-class .evaluation-evaluation{
            padding: 20px 0 20px 0s;
            height: 200px;
            width: 400px;
            transform: translate(-50%,-50%);
            margin-left: 23%;
            margin-top: 200px;
            background-color: rgb(255, 255, 255);
            color: black;
            /*border: 5px rgb(42, 175, 38) solid;*/
            box-shadow: 0 0 15px /*rgb(42, 175, 38)*/ black;
        }
        #form .methode{
        flex-basis: 100%;
        /*height: 90px;*/
        }
        #form .methode .methode fieldset{
            position: absolute;
            height: 100%;
        }
        section.form-class #form #input-case{
            width: 20%;
            height: 100%;
            overflow: hidden;
            position: relative;
        }
        section.form-class #form #input-case input{
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            background-color: inherit;
            padding-top: 20px;
            font-size: 14px;
            color: white;
        }
        /* Chrome, Safari, Edge, Opera */
        section.form-class #form #input-case input::-webkit-outer-spin-button,
        section.form-class #form #input-case input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
        section.form-class #form #input-case label{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-bottom: 3px solid inherit;
            color: rgb(255, 255, 255);
        }
        section.form-class #form #input-case label::after{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: 3px solid #1ed11e;
            transform: translateX(-100%);
            transition: all 0.3s ease;
        }
        section.form-class #form #input-case label span{
            position: absolute;
            bottom: 5px;
            left: 0;
            color: rgb(134, 143, 134);
            transition: all 0.9s ease;
        }

        section.form-class #form #input-case input:focus + label span,
        section.form-class #form #input-case input:valid + label span {
            transform: translateY(-15px);
            transition: all 0.3s ease;
            color: #17bd17;
        }

        section.form-class #form #input-case input:focus + label::after,
        section.form-class #form #input-case input:valid + label::after{
            transform: translateX(0px);
            transition: all 0.6s ease;
        }

        section.form-class .extraction{
            width: 100%;
        }
        section.form-class .extraction input{
            display: inline-block;
            margin-left: 50%;
            transform: translate(-50%,-50%);
            font-size: 20px;
        }

    .form-input a.renisialiser{
        padding: 5px 20px 5px 20px;
        margin: 10px 0 5px 0;
        background-color: white;
        color: black;
        text-decoration: none;
        width: auto;
        height: 100%;
        font-size: 20px;
        
    }
    .form-input a.renisialiser:hover{
        border: 1px rgb(13, 84, 190) solid;
        background-color: rgb(170, 214, 231);
    }
    .form-input div.renisialiser{
        padding: 0;
        margin: 20px 0 0 0;
        text-align: center;
    }

    .download{
        text-align: end;
        margin-top: 10px;
    }
    .download a{
        padding: 2px 5px 2px 5px;
        text-decoration: none;
        font-size: 20px;
        color: rgb(39, 202, 39);
        transition: all .2s ease;
    }
    .download a:hover{
        color: black;
        background-color: green;
        
    }