{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='extraction.css') }}">
{% endblock %}

{% block hero %}
    <div class="hero">
        <h1>Extraction</h1>
    </div>
{% endblock %}

{% block content %}
<main>

<section class="form-class paragraphe">
    <form id="form" method=post enctype=multipart/form-data>
        <div class="methode">
            <fieldset>
                <legend>Réglage</legend>
                <div class="radio-methode radio-class">
                    <input type="radio" name="methode" id="premiere" value="1" onclick="document.getElementById('input-bit').disabled = true">
                    <label for="premiere">JPEG-JSTEG</label>
                    <input type="radio" name="methode" id="deux" value="2" onclick="document.getElementById('input-bit').disabled = false">
                    <label for="deux">Méthode Proposé</label>
                </div>
                
                <span id="methode2-bit">

                    <input type="number" id="input-bit" name="methode2-bit" value="" required disabled>
                    <label for="input-bit">
                        <span>Clé de cryptage</span>
                    </label>

                </span>
                <span id="methode2-bit">

                    <input type="number" id="input-bit" name="cle_insertion" value="" required>
                    <label for="input-bit">
                        <span>Clé d'insertion</span>
                    </label>

                </span>
                <div class="canal">
                    <div class="radio-canal radio-class">
                        <input type="radio" name="canal" id="Y" value="0" >
                        <label for="Y">Y</label>
                        <input type="radio" name="canal" id="Cb" value="1">
                        <label for="Cb">Cb</label>
                        <input type="radio" name="canal" id="Cr" value="2" checked>
                        <label for="Cr">Cr</label>
                    </div>
                </div>
                
            </fieldset>
            
        </div>
        <div class="bloc-image-cover form-input">

            <div class="coverClass in-out-img">
                {% if filename %}
                    <img src="/stegano/{{filename}}" alt="image priview" id="cover">
                {% else%}
                    <img src="/static/img/upload.png" alt="image priview" id="cover-default">
                {% endif %}
            </div>
            <input type=file name=file id="file" class="button"
            onchange="preview(event)">
            
        </div>
        <div class="subbmit">
            <input type=submit value=extraction class="button"> 
        </div> 
        
        {% if message_secret %}
        <div class="arrow">
            <img src="../static/img/trajectory.png" alt="">
        </div>
        {% endif %}  
        <div>
            <div class="secret-message">
            {% if message_secret %}
                <p>le message est :</p>
                <p>{{message_secret}}</p>
            {% endif %}
            
            </div>
           
        </div>     
        
        
    </form>
</section>
</main>
{% endblock %}