
{% extends 'base.html' %}

{% block hero %}
    <div class="hero">
        <h1>Dissimulation</h1>
        <h3>"Dissimuler un message secret dans une Image en respectant les critères " .</h3>
    </div>
    
{% endblock %}
    
{% block content %}
    <main>
        
            <section class="form-class paragraphe">

                <form id="form" method=post enctype=multipart/form-data>
                    <div class="methode">
                        <fieldset>
                            <legend>Réglage</legend>
                            <div class="radio-methode radio-class">
                                <input type="radio" name="methode" id="premiere" value="1" checked onclick="document.getElementById('input-bit').disabled = true">
                                <label for="premiere">Méthose basé sur la stéganographie JSTEG</label>
                                <input type="radio" name="methode" id="deux" value="2" onclick="document.getElementById('input-bit').disabled = false">
                                <label for="deux">Méthode inspirée du travail de chang et al</label>
                            </div>
                            
                            <span id="input-case" class="cryptage"> 

                                <input type="number" id="input-bit" name="input-case" value="" required disabled>
                                <label for="input-bit">
                                    <span>Clé de cryptage</span>
                                </label>

                            </span>

                            <div class="canal">
                                <div class="radio-canal radio-class">
                                    <input type="radio" name="canal" id="Y" value="0">
                                    <label for="Y">Y</label>
                                    <input type="radio" name="canal" id="Cb" value="1">
                                    <label for="Cb">Cb</label>
                                    <input type="radio" name="canal" id="Cr" value="2" checked>
                                    <label for="Cr">Cr</label>
                                    <input type="radio" name="canal" id="best" value="-1">
                                    <label for="best">Meilleur pour l'image</label>
                                </div>
                            </div>
                            
                        </fieldset>

                    </div>
                    <div class="bloc-image-cover form-input">

                        <div class="coverClass in-out-img">
                            {% if filename %}
                                <img src="../static/img/{{filename}}" alt="image priview" id="cover">
                            {% else%}
                               <img src="../static/img/upload.png" alt="image priview" class="input-default" id="cover-default">
                            {% endif %}
                        </div>
                        <div class="upload">
                            <input type=file name=file id="file" class="button"
                            onchange="preview(event)">
                        </div>
                        
                        
                    </div>
                    <div class="secret-text-container form-input">
                        <label>Le message à cacher</label>
                        <textarea id="text-secret" rows="20" cols="20" name="text-secret" placeholder=" Entrer le Message à dissimuler "></textarea>
                        <br>
                        <input type=submit value=Dissimuler class="button">
                    </div>
                    <div class="bloc-stego form-input">
                        <div class="in-out-img">
                            {% if result_stego %}
                            <img src="../static/img/{{result_stego}}" alt="image stego" id="img-stego">
                            
                            {% else %}
                            <img src="../static/img/image-1.png" alt="image stego" class="input-default" id="img-stego-default">
                            {% endif %}
                        </div>
                        {% if result_stego %}
                        <div class="download">
                            <a href="{{ url_for('download',result_stego=result_stego) }}">Télécharger</a>
                        </div>
                        {% endif %}
                        <div class="renisialiser">
                            <a href="" class="renisialiser">réinitialiser</a>
                        </div>
                        
                    </div>
                    
                    
                </form>

                <div class="cle">
                    {% if cle_cryptage %}
                    <p>La clé du cryptage est : {{cle_cryptage}}</p>
                    {% endif %}
                    {% if cle_insertion %}
                    <p>La clé d'extraction est : {{cle_insertion}}</p>
                    {% endif %}
                    {% if canal_name %}
                    <p>Le canal est : {{canal_name}}</p>
                    {% endif %}
                </div>
               
                        {% if psnr %}
                        <div class="evaluation">
                            <p>
                                Le PSNR de l'image est:<br> {{ psnr }}
                            </p>
                            <p>
                                Le MSE de l'image est:<br> {{ mse }}
                            </p>
                        </div>
                        {% endif %}
                        

                    <!--
                    <div class="extraction">
                        <form action="" method=post enctype=multipart/form-data>
                            <input type="button" name="extraction" value="Esseyer l'extraction" class="button">
                        </form>
                    </div>-->
                   
            </section>
        
    </main>
{% endblock %}
