
{% extends 'base.html' %}

{% block hero %}
    <div class="hero">
        <h1>Dissimulation</h1>
    </div>
{% endblock %}
    
{% block content %}
    <main>
        
            <section class="form-class paragraphe">

                <form id="form" method=post enctype=multipart/form-data>
                    <div class="methode">
                        <fieldset>
                            <legend>Réglage</legend>
                            <div class="radio-methode radio-class">
                                <input type="radio" name="methode" id="premiere" value="1" onclick="document.getElementById('input-bit').disabled = true">
                                <label for="premiere">JPEG-JSTEG</label>
                                <input type="radio" name="methode" id="deux" value="2" onclick="document.getElementById('input-bit').disabled = false">
                                <label for="deux">Méthode Proposé</label>
                            </div>
                            
                            <span id="methode2-bit">

                                <input type="number" id="input-bit" name="methode2-bit" value="" required disabled>
                                <label for="input-bit">
                                    <span>Clé de cryptage</span>
                                </label>

                            </span>

                            <div class="canal">
                                <div class="radio-canal radio-class">
                                    <input type="radio" name="canal" id="Y" value="0">
                                    <label for="Y">Y</label>
                                    <input type="radio" name="canal" id="Cb" value="1">
                                    <label for="Cb">Cb</label>
                                    <input type="radio" name="canal" id="Cr" value="2" checked>
                                    <label for="Cr">Cr</label>
                                    <input type="radio" name="canal" id="best" value="-1">
                                    <label for="best">The best for the image</label>
                                </div>
                            </div>
                            
                        </fieldset>
                        
                    </div>
                    <div class="bloc-image-cover form-input">

                        <div class="coverClass in-out-img">
                            {% if filename %}
                                <img src="../{{filename}}" alt="image priview" id="cover">
                            {% else%}
                                <img src="/static/img/upload.png" alt="image priview" id="cover-default">
                            {% endif %}
                        </div>
                        <input type=file name=file id="file" class="button"
                        onchange="preview(event)">
                        
                    </div>
                    <div class="secret-text-container form-input">
                        <label>Le message a caché</label>
                        <textarea id="text-secret" rows="20" cols="20" name="text-secret" placeholder=" Entrer le Message a caché "></textarea>
                        <br>
                        <input type=submit value=Dissimuler class="button">
                    </div>
                    <div class="bloc-stego form-input">
                        <div class="in-out-img">
                            {% if result_path %}
                            <img src="../image_transform.jpg" alt="image stego" id="img-stego">
                            {% else %}
                            <img src="../static/img/image-1.png" alt="image stego" id="img-stego-default">
                            {% endif %}
                        </div>
                    </div>
                    
                </form>

                <div class="cle">
                    {% if cle_cryptage %}
                    <p>La clé du cryptage est : {{cle_cryptage}}</p>
                    {% endif %}
                    {% if cle_insertion %}
                    <p>La clé d'insertion est : {{cle_insertion}}</p>
                    {% endif %}
                    {% if canal %}
                    <p>Le canal est : {{canal}}</p>
                    {% endif %}
                </div>
               
                        {% if psnr %}
                        <div class="evaluation">
                            <p>
                            Le PSNR de cette image couverture est :<br> {{ psnr }}
                            </p>
                        </div>
                        {% endif %}
                        

                    <!--{% if %}
                    <div class="extraction">
                        <form action="" method=post enctype=multipart/form-data>
                            <input type="button" name="extraction" value="Esseyer l'extraction" class="button">
                        </form>
                    </div>-->
                   
            </section>
        
    </main>
{% endblock %}
